In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [2]:
df = pd.read_csv('Life_expectancy.csv')

In [3]:
df.head()

,Country,Life expectancy males,Life expectancy females,Birth rate,Death rate
0,Hong Kong *,83.2 years,87.9 years,5.0 ‰,6.9 ‰
1,Macao *,82.8 years,87.9 years,10.1 ‰,4.1 ‰
2,Switzerland,81.9 years,85.9 years,10.3 ‰,8.2 ‰
3,Iceland,81.8 years,84.5 years,13.1 ‰,6.3 ‰
4,Norway,81.7 years,84.7 years,10.4 ‰,7.8 ‰

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  120 non-null    object
 1   Life expectancy males    120 non-null    object
 2   Life expectancy females  120 non-null    object
 3   Birth rate               120 non-null    object
 4   Death rate               120 non-null    object
dtypes: object(5)
memory usage: 4.8+ KB

In [5]:
df[['Birth rate', 'Death rate']].describe()

       Birth rate Death rate
count         120        120
unique         96         82
top         9.6 ‰      6.8 ‰
freq            4          5

In [9]:
df['Birth rate'] = df['Birth rate'].str.replace(' ‰', '').astype(float)

In [11]:
df['Death rate'] = df['Death rate'].str.replace(' ‰', '').astype(float)

In [12]:
df.head(100)

,Country,Life expectancy males,Life expectancy females,Birth rate,Death rate
0,Hong Kong *,83.2 years,87.9 years,5.0,6.9
1,Macao *,82.8 years,87.9 years,10.1,4.1
2,Switzerland,81.9 years,85.9 years,10.3,8.2
3,Iceland,81.8 years,84.5 years,13.1,6.3
4,Norway,81.7 years,84.7 years,10.4,7.8
...,...,...,...,...,...
95,Ukraine,65.2 years,74.4 years,7.3,18.5
96,Senegal,64.8 years,69.3 years,32.6,5.9
97,Russia,64.2 years,74.8 years,9.6,16.7
98,Tanzania,64.2 years,68.3 years,36.2,6.2
99,Pakistan,63.8 years,68.6 years,27.5,7.2

In [13]:
df[['Birth rate', 'Death rate']].describe()

       Birth rate  Death rate
count  120.000000  120.000000
mean    16.870833    8.879167
std      9.513612    3.809407
min      5.000000    1.300000
25%     10.075000    6.600000
50%     13.750000    8.050000
75%     21.425000   10.325000
max     45.300000   21.700000

In [14]:
df.shape

(120, 5)

In [15]:
ttest,pval = stats.ttest_rel(df['Birth rate'], df['Death rate'])
print(pval)

1.2215417463631702e-12

In [16]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis